<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
</head>
<style>
    ul{
    padding:0;
    height:50px;
    background:#3a3b39;
    font-family:Arial, sans serif;
    text-align:center;
}

li{
    display:inline-block;
}

a{
    display:block;
    padding:10px;
    color:#f1f1f1;
    text-decoration:none;
    font-size:30px;
}
a:hover{
color:black;
}

</style>
<body background="static/Homepage.png" style=" background-size: cover;">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/studlogin">Student Login</a></li>
    <li><a href="/facultylogin">Faculty Login</a></li>
    <li><a href="/adminlogin">Admin Login</a></li>
</ul>

</body>
</html>