<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
</head>
<style>
    ul{
    padding:0;
    height:50px;
    background:#3a3b39;
    font-family:Arial, sans serif;
    text-align:center;
}

li{
    display:inline-block;
}

a{
    display:block;
    padding:10px;
    color:#f1f1f1;
    text-decoration:none;
    font-size:30px;
}
a:hover{
color:black;
}

</style>
<body background="static/loginpage.png" style=" background-size: cover;">

<h1 style="background:#3a3b39;color:#f1f1f1;font-family:Arial, sans serif;font-size:75px;text-align:center;">Student Login Page</h1>>

<h2 style="background:#3a3b39;color:#f1f1f1;font-family:Arial;font-size:35px;text-align:center;" >Login Successfull! {{data}}</h2>
<ul>
    <li><a href="/studhome">Click to Continue</a></li>
</ul>
<div >

</div>
</body>
</html>